fastapi
uvicorn[standard]
pandas
openpyxl
xlsxwriter
python-multipart
gspread
google-auth
google-cloud-storage
PyJWT
apify-client
requests
python-calamine

# Database Dependencies
sqlalchemy
psycopg2-binary
python-dotenv
google-generativeai
openai
Pillow
